.content-item {
    background: #fff;
    box-shadow: 0 7px 9px 1px #e2eaf4;
    height: auto;
    width: 400px;
    border-radius: 20px;
    padding: 40px;
}

.content-one-left {
    padding: 20px 200px;
    position: relative;
}

.content-item > h1 {
    font-family: 'Open Sans', sans-serif;
    color: #1c2056;
}

.content-item > p {
    font-family: 'Maven Pro', sans-serif;
    color: #8b879d;
    line-height: 1.498;
    text-align: left;
}

.content-one-right {
    padding: 20px 50px 20px 800px;
}

.btn-position {
    position: absolute;
    left: 806px;
    top: 136px;
}

.main-h2 {
    font-family: 'Open Sans', sans-serif;
    color: #263238;
    width: 470px;
    margin: 0 auto;
    padding: 20px;
}

.content-1 {
    padding: 20px 0;
}

.img-1 {
    position: absolute;
    height: 60px;
    width: 70px;
    top: -80px;
    left: 230px;
}

.img-2 {
    position: absolute;
    height: 85px;
    width: 90px;
    top: 840px;
    left: 950px;
}

.img-3 {
    position: absolute;
    height: 85px;
    width: 110px;
    top: 1155px;
    left: 330px;
}