.menu {
    text-decoration: none;
    float: right;
    color: white;
    position: relative;
    z-index: 10;
    top: 50px;
}

.menu-item {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.menu-item:hover > a {
    color: #cccccc;
    transition: all 0.3s ease-out;
}

.menu-item.login > a {
    border-radius: 7px;
    background-color: #fff;
    color: #14215e;
    padding: 3px 15px;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.menu-item.login:hover > a {
    color: #fff;
    transition: all 0.3s ease-out;
    background: #cccccc;
}

.logo {
    float: left;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: white;
    display: inline;
    margin: 10px 30px 10px 10px;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.3s ease-out;
}

.header-content {
    position: absolute;
    top: 150px;
    height: auto;
    width: 300px;
}

.header-content > h1 {
    font-family: 'Open Sans', sans-serif;
    color: #1c2056;
}

.header-content > p {
    font-family: 'Maven Pro', sans-serif;
    color: #8b879d;
}

.header-button {
    background-color: #2870db;
    box-shadow: 0 7px 9px 1px #cad9ea;
    width: 120px;
    height: 40px;
    color: white;
    border-radius: 19px;
    border: 0;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 13px;
}

.main-header {
    margin: 0 50px;
}