* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    background-color: #fbfcfc;
}

.wrapper:after{
    content: '';
    clear: both;
    display: block;
}

.header {
    height: 500px;
    background: #fbfcfc;
    position: relative;
}

.header-image {
    position: absolute;
    top: 0;
    right: 0;
}

.header-image img {
    height: 500px;
}

.content {
    background: #fbfcfc;
    padding-bottom: 1000px;
}

.footer {
    background-color: #fbfcfc;
    height: 1000px;
    margin-top: -1000px;
    clear: both;
}

.content-btn {
    background-color: #2870db;
    box-shadow: 0 7px 8.52px 0.48px #cad9ea;
    width: 120px;
    height: 40px;
    color: white;
    border-radius: 19px;
}